/* RESET */
* {
  padding: 0;
  margin: 0;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

/* COMMON */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.jf-between {
  justify-content: space-between;
}

.jf-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.ofh {
  overflow: hidden;
}

.h-0 {
  height: 0;
}

.h-100px {
  height: 100px;
}

.h-200px {
  height: 200px;
}

.h-300px {
  height: 300px;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.w200 {
  width: 200px;
}

.w800 {
  width: 800px;
}

.w33 {
  width: 33.3333%;
}

.h350 {
  height: 350px;
}

.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.text-center {
  text-align: center;
}

.bg {
  /* 컨텐츠 크기 확인용 */
  background-color: sandybrown;
}

/* MAIN */
#popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cadetblue;
  z-index: 999;
}

#hd {
  padding: 2em;
  box-sizing: border-box;
}

#gnb {
  text-indent: 1.5rem;
}

/* 대메뉴 */
#gnb>li>a {
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
}

/* 소메뉴 */
#gnb ul {
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}

#gnb>li:hover ul {
  max-height: 300px;
}

/* ★ 활성화 : 대메뉴 아래로 마우스내려가도 빨간색 들어오게 */
#gnb>li:hover>a {
  color: red;
}

/* fade */
.swiper-slide {
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: .5s;
}

.swiper-slide.active {
  z-index: 999;
  opacity: 1;
}